body{
  background: #fff url(../imgs/layfondo.jpg);
  font-family: 'Open Sans', sans-serif;

}
 @media screen and (max-device-width: 767px) and (orientation : portrait){
    .login-form {
      background-color: rgba(51, 48, 45, 0.21)!important;;
      width: 80%;
      margin:9% auto 4% auto;
      position: relative;
      -webkit-border-radius: 0.4em;
      -o-border-radius: 0.4em;
      -moz-border-radius: 0.4em;
    }
    img{
      max-height: 100px;
      margin:15px auto 5px;
    }
  }
  @media screen and (max-device-width: 767px) and (orientation : landscape){
    .login-form {
      background-color: rgba(51, 48, 45, 0.21)!important;;
      width: 60%;
      margin:9% auto 4% auto;
      position: relative;
      -webkit-border-radius: 0.4em;
      -o-border-radius: 0.4em;
      -moz-border-radius: 0.4em;
    }
    img{
      max-height: 150px;
      margin:15px auto 5px;
    }
  }
  @media screen and (min-device-width : 768px){
    .login-form {
      background-color: rgba(51, 48, 45, 0.21)!important;;
      width: 26%;
      margin:9% auto 4% auto;
      position: relative;
      -webkit-border-radius: 0.4em;
      -o-border-radius: 0.4em;
      -moz-border-radius: 0.4em;
    }
  }

.head {
  position: absolute;
  top:-15%;
  left: 35%;
}

.main h1{
  font-size:25px;
  color:#676767;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  padding-top: 19%;
  text-align: center;
}

.main form {
  width: 80%;
  margin: 0 auto;
  padding: 6% 0 9% 0;
}

 input[type="text"], input[type="password"]{
  text-align:left;
  position: relative;
  width:92%;
  padding:3%;
  background: rgba(255, 255, 255, 0.97);
  margin-bottom: 6%;
  font-family: 'Open Sans', sans-serif;
  color: #676767;
  font-weight:600;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  border: 1px solid #806B41;
  -webkit-appearance:none;
}

 input[type="text"]:hover, input[type="password"]:hover{
  border:1px solid #949494;
  transition:0.5s;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -o-transition:0.5s;
  -ms-transition: 0.5s;
 }

input[type="submit"]{
  width: 99%;
  padding: 3%;
  margin-bottom: 8%;
  background: #326380;
  font-family: 'Open Sans', sans-serif;
  color: #ECECEC;
  box-shadow: inset 0px 0px 10px #666464;
  -webkit-text-shadow: 0px 0px 3px #000;
  -moz-text-shadow: 0px 0px 3px #000;
  -o-text-shadow: 0px 0px 3px #000;
  -ms-text-shadow: 0px 0px 3px #000;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight:500;
  border-radius: 5px;
  transition: 0.5s;
  -webkit-appearance:none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
}

input[type="submit"]:hover{
  background:rgba(39, 77, 99, 1);
  color:#fff;
}